altgraph==0.17.5
iniconfig==2.3.0
macholib==1.16.4
packaging==26.0
platformdirs==4.9.6
pluggy==1.6.0
pyfakefs==6.1.6
Pygments==2.20.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
pytest==9.0.3
ruff==0.15.10
setuptools==82.0.1
shiboken6==6.11.0
